
body {
  background: pink; 
}


* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }


body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
  max-width: 72ch;
  margin: 0 auto;
  padding: 1rem;
}


@media (min-width: 700px) {
  body { padding: 2rem; }
  form { max-width: 600px; }
}
